<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/estilos.css">
    </head>
    <body>
       <center><h1>Turnos</h1></center>
        <center><p>Completa el siguiente formulario para reservar tu turno.</p></center>
        <hr size="1px" width="600px" color="grey">
        <h2>Tus datos</h2>
        <form action="/my-handling-form-page" method="post">
            <ul>
              <li>
                <label for="name">DNI</label>
                <br>
                <input type="text" id="name" name="user_name" />
              </li>
          <h3>Reserva</h3>
              <li>
                <label for="name">Especiabilidad</label>
                <br>
                <input type="text" id="name" name="user_name" />
              </li>
              <li>
                <label for="name">Servicio</label>
              <br>
                <input type="text" id="name" name="user_name" />
              </li>

        </form>
    </body>
</html>